<div class="section-container">
  <div class="container my-md-5">
      <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="onboarding-parent-box">
          <h3>Have <b>another</b> onboarding link?</h3>
          <div class="row d-flex justify-content-center">
            <div class="col-md-9">
              <p class="mt-md-4">
                Copy the link below to skip steps in claiming your profile (link can be found in the onboarding email or letters sent to your practice).
              </p>
              <form>
                <input
                  type="text"
                  placeholder="Onboarding Link"
                  class="form-control"
                />
                <span class="search-btn btn col-8 py-2"> Search </span>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center mt-5">
        <div class="onboarding-parent-box">
          <h3>Manually Claim Profile</h3>
          <div class="row d-flex justify-content-center">
            <div class="col-md-9">
              <p class="mt-md-4">
                Conduct a search below to claim another profile
                            </p>
              <form>
                <div class="row">
                  <div class="col-4 px-0">
                    <select
                      class="form-select rounded-0"
                      aria-label="Default select example"
                    >
                      <option selected>Full Name</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-8 px-0">
                    <input
                      type="text"
                      placeholder="Onboarding Link"
                      class="form-control"
                    />
                  </div>

                </div>
                <span class="search-btn btn col-8 py-2"> Search </span>
                <p class="find-id mt-3">Find your provider ID</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
