<div class="row no-gutters pl-4 pb-4">
    <div class="container ">
        <form [formGroup]="passwordResetForm" novalidate (ngSubmit)="passwordReset()">
            <div class="content-wrapper">
                <div class="mb-2">
                    <div class="text-right">
                        <span class="p-2"><i class="far fa-edit s-13-12"></i></span>
                    </div>
                    <label for="currentPassword" class="form-label">Current Password</label>
                    <input type="password" class="form-control km-form-input" id="currentPassword"
                        placeholder="*****" formControlName="currentPassword">
                </div>
                <div class="mb-4">
                    <label for="pwd" class="form-label">New Password</label>
                    <input type="password" class="form-control km-form-input" id="pwd" placeholder="*****"
                    formControlName="newPassword">
                </div>
                <div class="mb-4">
                    
                    <label for="pwd-confirmation" class="form-label">Re-enter New Password
                    </label>
                    <input type="password" class="form-control km-form-input" id="pwd-confirmation"
                    placeholder="*****" formControlName="repeatNewPassword">
                    <small class="text-danger" id="username-help" *ngIf="form['repeatNewPassword'].errors && form['repeatNewPassword'].errors['notEquivalent']">Passwords do not match</small>
                    
                    <!-- <div class="text-danger" *ngIf="passwordResetForm.errors?.['mismatch'] && (passwordResetForm.controls['repeatNewPassword'].dirty || passwordResetForm.controls['repeatNewPassword'].touched)">
                        Passwords don't match.
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <form-validation-message [submitted]="formsubmit" [formGroup]="passwordResetForm"></form-validation-message>
                    </div>
                </div>

                <h5 class="mt-4">Password must contain</h5>
                <ul class="mt-2 pr-4">
                    <li>
                        at least 1 upper case, numeric, and special character must be EMBEDDED somewhere in the middle
                        of
                        the password, and not just be the first or the last character of the password string.
                    </li>
                    <li>
                        Passwords must be at least 10 characters in length, but can be much longer.
                    </li>
                </ul>

                <div class="btn-holder">
                    <button class="btn-save" type="submit"
                    [disabled]="passwordResetForm.pristine || passwordResetForm.invalid">save</button>
                </div>
            </div>
        </form>
    </div>
</div>