<div class="main-wrapper">
  <form
    class="form-group"
    novalidate
    [formGroup]="systemPreferencesClaimFormGroup"
    (ngSubmit)="onSave()"
  >
    <section class="container-fluid main-wrapper-section-1500">
      <div class="row">
        <div class="col-12 mt-5">
          <h1 class="page-heading mb-0 pb-0">System Preferences</h1>
          <p class="page-heading-subtitle p-0 m-0">Claims</p>
        </div>
      </div>
      <div class="row my-5 practice-manager-section">
        <div class="col-12 mt-5 d-flex justify-content-center">
          <ul class="d-flex flex-column nav">
            <li class="mt-3">
              <div class="custom_radio mt-3">
                <input
                  type="radio"
                  id="featured-1"
                  class="custom_radio_sub"
                  name="featured"
                  [checked]="form['defaultToBenefitsAssigned'].value === true"
                  (change)="
                    form['defaultToBenefitsAssigned'].setValue(
                      $event.target.checked ? true : false
                    );
                    form['defaultToReleaseInsuranceInfo'].setValue(false);
                    form['alwaysHoldSecondaryClains'].setValue(false);
                    form['defaulMedicalClaimAssignment'].setValue(false)
                  "
                />
                <label
                  for="featured-1"
                  class="form-label font-roboto fw-normal fc-565656 fs-1-4"
                >
                  Default to benefits assigned
                </label>
              </div>
              <div class="custom_radio mt-3">
                <input
                  type="radio"
                  id="featured-2"
                  name="featured"
                  class="custom_radio_sub"
                  [checked]="
                    form['defaultToReleaseInsuranceInfo'].value === true
                  "
                  (change)="
                    form['defaultToBenefitsAssigned'].setValue(false);
                    form['defaultToReleaseInsuranceInfo'].setValue(
                      $event.target.checked ? true : false
                    );
                    form['alwaysHoldSecondaryClains'].setValue(false);
                    form['defaulMedicalClaimAssignment'].setValue(false)
                  "
                />
                <label
                  for="featured-2"
                  class="form-label font-roboto fw-normal fc-565656 fs-1-4"
                >
                  Default to release insurance information
                </label>
              </div>
              <div class="custom_radio mt-3">
                <input
                  type="radio"
                  id="featured-3"
                  name="featured"
                  class="custom_radio_sub"
                  [checked]="form['alwaysHoldSecondaryClains'].value === true"
                  (change)="
                    form['defaultToBenefitsAssigned'].setValue(false);
                    form['defaultToReleaseInsuranceInfo'].setValue(false);
                    form['alwaysHoldSecondaryClains'].setValue(
                      $event.target.checked ? true : false
                    );
                    form['defaulMedicalClaimAssignment'].setValue(false)
                  "
                />
                <label
                  for="featured-3"
                  class="form-label font-roboto fw-normal fc-565656 fs-1-4"
                  >Always hold secondary claims
                </label>
              </div>
              <div class="custom_radio mt-3">
                <input
                  type="radio"
                  id="featured-4"
                  name="featured"
                  class="custom_radio_sub"
                  [checked]="
                    form['defaulMedicalClaimAssignment'].value === true
                  "
                  (change)="
                    form['defaultToBenefitsAssigned'].setValue(false);
                    form['defaultToReleaseInsuranceInfo'].setValue(false);
                    form['alwaysHoldSecondaryClains'].setValue(false);
                    form['defaulMedicalClaimAssignment'].setValue(
                      $event.target.checked ? true : false
                    )
                  "
                />
                <label
                  for="featured-4"
                  class="form-label font-roboto fw-normal fc-565656 fs-1-4"
                  >Default medical claim assignment
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- <section class="container-fluid">
      <div class="row footer-bg p-4 position-absolute bottom-0 w-100">
        <div class="col d-flex align-self-center">
          <span
            class="footer-save-btn"
            routerLink="/practice-manager/system-preference-account"
          >
            Save for later
          </span>
        </div>
        <div class="col d-flex justify-content-end align-item-center">
          <button
            routerLink="/practice-manager/system-preference"
            class="theme-btn py-2 mx-3"
          >
            Back
          </button>
          <button class="theme-btn py-2" type="submit">Next</button>
        </div>
      </div>
    </section> -->
    <section class="container-fluid">
      <div
        class="row footer-bg p-4 position-absolute bottom-0 w-100 footer-items"
      >
        <div class="col d-flex align-self-center practice-footer-responsive">
          <span
            class="footer-save-btn fw-normali fs-1-2"
            routerLink="/practice-manager/system-preference-account"
          >
            Save for later
          </span>
        </div>
        <div class="col d-flex justify-content-end align-item-center practice-footer-responsive">
          <button class="theme-btn fs-1-2 py-2 mx-3" routerLink="/practice-manager/system-preference">Back</button>
          <button
            class="theme-btn py-2 fs-1-2"
            type="submit"
          >
            Next
          </button>
        </div>
      </div>
    </section>
  </form>
</div>
