<!-- header -->
<section class="">
  <nav
    class="navbar navbar-expand-lg bg-white p-4 header-border-line fixed-top"
  >
    <div class="container-fluid">
      <div class="row w-100">
        <div class="col-lg-2 col-8 d-flex flex-row ps-0 px-md-0 px-lg-1">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa fa-bars fa-lg"></i>
          </button>
          <a class="navbar-brand ms-md-3" href="#">
            <img src="assets/images/Mint Logo.svg" alt="Centrax Logo" />
          </a>
        </div>
        <div
          class="collapse col-lg-9 col-12 navbar-collapse navbar-mobile-view"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active navbar-item-title"
                aria-current="page"
                href="#"
                >My Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-item-title" aria-current="page" href="#"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-item-title" aria-current="page" href="#"
                >Submit an Article</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-item-title" aria-current="page" href="#"
                >Teledentistry</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-item-title" aria-current="page" href="#"
                >My Account</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-item-title" aria-current="page" href="#"
                >Knowledge Base</a
              >
            </li>
          </ul>
        </div>
        <div
          class="col-lg-1 px-md-0 px-lg-1 col-4 d-flex flex-row align-items-end justify-content-md-end justify-content-lg-center align-items-lg-center"
        >
          <i class="fa fa-bell fa-2x position-relative">
            <span
              class="position-absolute top-0 notification-count start-100 translate-middle badge rounded-circle bg-danger"
            >
              99+
            </span>
          </i>

          <i class="fas fa-search fa-2x mx-3"></i>
          <i class="fas fa-cog fa-2x"></i>
        </div>
      </div>
    </div>
  </nav>
</section>
