<div class="provider-login-container py-5">
  <h1 class="mb-5">Welcome to the Centrax family!</h1>
  <p class="pt-5">Once we have verified the information in your profile, you will be added to our dental directory. Please allow 24 to 48 hours for your profile to be added.</p>
</div>

<div class="row mt-5 pt-5 mb-5 mx-5">
  <div class="col-12 d-flex justify-content-center flex-column align-items-center">
    <button class="btn btn-lg btn-primary fs-6" style="width: 260px; height: 45px;" type="button" [routerLink]="['/practice-manager/welcome']">Configure Software?</button>
    <a class="btn btn-link fw-bold mt-5 fs-6" [routerLink]="['/shared/onboarding']">Claim additional profiles</a>
  </div>
</div>
