<div class="main-wrapper">
  <section class="container-fluid">
    <div class="row">
      <div class="col-12 half-way text-center">
        <h3 class="font-roboto page-heading">All done!</h3>
        <p class="font-roboto fw-normal fs-1-2 mt-60i mb-120i">
          Let’s get to know <br />
          Centrax
        </p>

        <span
          class="bg-primary-color px-5 py-2 rounded-3 text-white font-roboto fw-medium"
          routerLink="/practice-manager"
        >
          Save
        </span>
      </div>
    </div>
  </section>
</div>
