::ng-deep .tree-list.p-component {
  border: 0 !important;
  background: none !important;
}

::ng-deep .tree-list,
::ng-deep .tree-list .p-treenode-content {
  padding: 0 !important;
}

::ng-deep .appearance-1 {
  padding: 0 1.5rem !important;
}
::ng-deep .appearance-1,
::ng-deep .appearance-1 b {
  font-size: 14px;
  font-style: italic;
  font-weight: 400 !important;
  line-height: normal;
}
