<div class="main-wrapper">
  <form novalidate [formGroup]="collectionMsgFormGroup" (ngSubmit)="onSave()">
    <section class="container-fluid">
      <div class="row mt-4">
        <div class="col-12 mt-5">
          <h3 class="color-575757cc page-heading mb-0 pb-0">
            Collection Messages
          </h3>
          <p class="p-0 m-0 page-heading-subtitle">Insurance</p>
        </div>
      </div>
      <div class="row my-5 practice-manager-section">
        <div class="col form-horizontal mt-3 mb-5">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-md-end my-md-3 mt-2">
                <label
                  class="form-label fs-1-4 font-roboto fc-565656 mt-md-3"
                  for="60day"
                >
                  60 days
                </label>
              </div>
              <div class="col-md-8 my-md-3 mt-2">
                <textarea
                  placeholder="..."
                  type="textarea"
                  id="60day"
                  class="form-control form-area-box ms-md-4 resize-n fc-565656"
                  [formControl]="form['days60']"
                ></textarea>
              </div>
              <div class="col-md-4 text-md-end my-md-3 mt-2">
                <label
                  class="form-label fs-1-4 font-roboto fc-565656 mt-md-3"
                  for="60day"
                >
                  90 days
                </label>
              </div>
              <div class="col-md-8 my-md-3 mt-2">
                <textarea
                  placeholder="..."
                  type="textarea"
                  id="60day"
                  class="form-control form-area-box ms-md-4 resize-n fc-565656"
                  [formControl]="form['days90']"
                ></textarea>
              </div>
              <div class="col-md-4 text-md-end my-md-3 mt-2">
                <label
                  class="form-label fs-1-4 font-roboto fc-565656 mt-md-3"
                  for="60day"
                >
                  120 days
                </label>
              </div>
              <div class="col-md-8 my-md-3 mt-2">
                <textarea
                  placeholder="..."
                  type="textarea"
                  id="60day"
                  class="form-control form-area-box ms-md-4 resize-n fc-565656"
                  [formControl]="form['days120']"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="container-fluid">
      <div class="row footer-bg p-4 position-absolute bottom-0 w-100">
        <div class="col d-flex align-self-center">
          <span
            class="footer-save-btn"
            routerLink="/practice-manager/collection-messages-non-insurance"
          >
            Save for later
          </span>
        </div>
        <div class="col d-flex justify-content-end align-item-center">
          <button
            routerLink="/practice-manager/fee-schedule"
            class="theme-btn py-2 mx-3"
          >
            Back
          </button>
          <button type="submit" class="theme-btn py-2">Next</button>
        </div>
      </div>
    </section> -->
    <section class="container-fluid">
      <div
        class="row footer-bg p-4 position-absolute bottom-0 w-100 footer-items add-staff-footer"
      >
        <div class="col d-flex align-self-center practice-footer-responsive">
          <span
            class="footer-save-btn fw-normali fs-1-2"
            routerLink="/practice-manager/collection-messages-non-insurance"
          >
            Save for later
          </span>
        </div>
        <div
          class="col d-flex justify-content-end align-item-center practice-footer-responsive "
        >
          <button
            class="theme-btn fs-1-2 py-2 mx-3"
            routerLink="/practice-manager/fee-schedule"
          >
            Back
          </button>
          <button class="theme-btn py-2 fs-1-2" type="submit">
            Next
          </button>
        </div>
      </div>
    </section>
  </form>
</div>
