<div class="d-flex justify-content-between align-items-center py-5 text-white px-5">
  <div class="d-flex align-items-center">
    <div class="fs-3-2 me-5">12 October, 2023</div>
    <div class="d-flex align-items-center">
      <img class="mx-3 fs-3 cursor-pointer" src="assets/images/icons/fast-rewind.svg">
      <img class="mx-3 fs-3 cursor-pointer" src="assets/images/icons/rewind.svg">
      <img class="mx-3 fs-3 cursor-pointer" src="assets/images/icons/forward.svg">
      <img class="mx-3 fs-3 cursor-pointer" src="assets/images/icons/fast-forward.svg">
    </div>
  </div>
  <div class="d-flex align-items-center me-3">
    <i class="fa fa-angle-down me-3 fs-3"></i>
    <div class="fs-2-0">
      Plaza Practice
    </div>
  </div>
</div>
