<div class="main-wrapper">
  <section class="container-fluid">
    <div class="row">
      <div class="col-12 half-way mt-5">
        <h3 class="page-heading fw-mediumi fs-2-8">Half way done!</h3>
        <p class="font-roboto fw-normal fc-565656 fs-1-2 mt-5">
          Now let’s set up your<br />
          financial preferences
        </p>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row footer-bg p-4 position-absolute bottom-0 w-100">
      <div class="col d-flex align-self-center">
        <span class="footer-save-btn"> Save for later </span>
      </div>
      <div class="col d-flex justify-content-end align-item-center practice-info-btn">
        <button
          routerLink="/practice-manager/financial-setup"
          class="theme-btn py-2"
        >
          Next
        </button>
      </div>
    </div>
  </section>
</div>
