<div class="h-100 w-100">
  <ng-container *ngIf="pageActive === 'gen-info'">
    <sched-patient-info-gen-info></sched-patient-info-gen-info>
  </ng-container>
  <ng-container *ngIf="pageActive === 'med-hist'">
    <sched-patient-info-med-hist></sched-patient-info-med-hist>
  </ng-container>
  <ng-container *ngIf="pageActive === 'appts'">
    <sched-patient-info-gen-info></sched-patient-info-gen-info>
  </ng-container>
  <ng-container *ngIf="pageActive === 'ins'">
    <sched-patient-info-gen-info></sched-patient-info-gen-info>
  </ng-container>
  <ng-container *ngIf="pageActive === 'billing'">
    <sched-patient-info-gen-info></sched-patient-info-gen-info>
  </ng-container>
</div>
