<form [formGroup]="statementOptionsForm" novalidate (ngSubmit)="createCategoryType()">

    <div class="row no-gutters pb-8">
        <div class="container pr-3 pl-5">
            <div class="row no-gutters mt-5 mb-3" style="height: 280px;">
                <div class="col-sm-4">
                    <p class="label-text">Category Type</p>
                </div>
                <div class="col-sm-8">
                    <p><input type="text" formControlName="categoryType"></p>
                </div>
            </div>

            <div class="d-flex flex-row-reverse mt-5 pt-5 mr-5">
                <button class="btn-save cursor-pointer" type="submit"
                    [disabled]="statementOptionsForm.pristine || statementOptionsForm.invalid">save</button>
            </div>
        </div>
    </div>
</form>