.txt-overflew {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d-none-print {
  display: none;
}


@media print and (max-width:1023px) {
  .print_none {
    display: none !important;
  }
  .print-show{
    display: inline-block !important;
  }
  .p-margin-top{
    margin-top: 40px !important;
  }
  .p-margin-top-obj{
    margin-top: 150px !important;
  }
.form-section-container{
  padding-right: 30px !important;
}
  /* .p-margin-top{
  margin-top: 80px;
} */
  /* .p-center-logo{
  text-align: center !important;
} */
  .centrax-size {
    width: 100px;
    height: auto;
    margin-left: 35%;
  }

  /* .d-none-print{
      display: block !important;
    } */
  .form-title {
    margin: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .p_subjective {
    margin-top: 35px;
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .p_subject_main {
    width: 33.3% !important;
  }

  .p_subject_parent {
    display: flex !important;
    flex-direction: row !important;
  }

  .p_chief_view_first {
    width: 40%;
  }

  .p_chief_view_second {
    width: 60%;
  }

  .p_location_parent {
    display: flex !important;
    flex-direction: row !important;
  }

  .p_location_view {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-top: 0px !important;
    margin-left: 10px !important;
  }

  .p_margin_location {
    margin-left: 15px !important;
  }

  .p_w_100 {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
  }

  .p-padding {
    padding-bottom: 100px !important;
  }

  .p_view {
    width: 20%;
  }

  .p_view_new {
    width: 40%;
  }

  .p_dental_hx {
    width: 50%;
  }

  /* .p-objective{
      width: 40%;
    }
    .p-objective-hx{
      width: 60%;
    } */
  .p-l,
  .p-r {
    width: 8%;
    margin-top: 0px !important;
  }

  .form-subsection-container {
    border: none !important;
  }

  .p-swelling {
    width: 60%;
    margin-top: 0px !important;
  }

  .p-intra {
    width: 50% !important;
  }

  .mobile-view-checkbox .w-40-per {
    width: 70%;
  }

  /* .p-radio{
      width: 33.33% !important;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    } */
  .mobile-view-checkbox {
    display: flex !important;
    flex-direction: row !important;
  }

  .p-diagno {
    width: 20% !important;
    margin-top: 0px !important;
  }

  .p-radio-caries {
    width: 100% !important;
    margin-top: 0px !important;
  }

  .p-diagno-note {
    width: 25% !important;
  }

  .p-diagno-note-more {
    width: 30% !important;
  }

  .p-prognosis {
    margin-right: 21% !important;
  }

  .clinical-notes-container .form-title h2 {
    padding-left: 35px !important;
  }

  .form-subsection-container {
    padding-left: 0px !important;
  }
  .p-space{
    padding: 0px 80px !important;
  }
  .p-dental-lt-s{
    margin-left: 7px !important;
  }
}
