<div class="patient-info-header-container">
  <div class="upload-image">
    <img src="assets/images/camera.svg" alt="">
  </div>
  <div class="text-white ms-5 me-3 border-right pe-10 py-4">
    <div class="fs-6 fst-italic"><span class="fw-medium">New Patient</span> (1234567)</div>
    <div class="fst-italic my-3">DOB</div>
    <div class="fst-italic my-3">phone</div>
    <div class="fst-italic mt-3">email</div>
  </div>
  <div class="d-flex p-5 d-flex align-items-center justify-content-center">
    <i class="fa fa-plus fw-bold fs-4 text-white"></i>
  </div>
</div>
