<div class="welcome-wrapper">
  <section class="container-fluid">
    <div class="welcome-screen">
      <div class="row">
        <div
          class="col-12 d-flex mb-4 justify-content-center align-item-center margin-top-80"
        >
          <img
            class="img-fluid"
            src="assets/images/welcome-black-icon-new.png"
            alt="welcom icon banner"
          />
        </div>
        <div
          class="col-12 d-flex my-5 justify-content-center align-item-center"
        >
          <h1 class="title fw-normal fs-2-8 text-center">Welcome To</h1>
        </div>
        <div
          class="col-12 mt-2 d-flex justify-content-center align-item-center"
        >
          <img
            class="img-fluid"
            src="assets/images/centrax-logo.png"
            alt="Centrax"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid position-absolute bottom-0 footer-section-pm">
    <div class="row">
      <div
        class="col-12 footer-section d-flex align-items-center justify-content-end"
      >
        <button
          routerLink="/practice-manager/practice-detail"
          class="theme-btn me-4 py-1 px-2 fw-normal fs-1-2"
        >
          Get started
        </button>
      </div>
    </div>
  </section>
</div>
