<div class="py-3 h-100">
  <div class="d-flex print-m-p form-title mt-5 pt-5 mb-md-5">
    <div class="title-container">
      <h2 class="fw-mediumi fs-3 print-p-l patient-consult-heading">Root Canal</h2>
    </div>
  </div>

  <div class="form-section-container">
    <div class="row">
      <div class="col-xl-7 print-w-50 col-lg-12">
        <div class="row mb-4">
          <div class="col-8 print-w-100 filling-first">
            <app-form-input-field appearance="appearance-1" [labelText]="'Treatment Provider'" [control]="rootCanalFormGroup.get('treatmentProvider')"></app-form-input-field>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-8 print-w-100 filling-first">
            <app-form-input-field appearance="appearance-1" [labelText]="'Treatment Assistant'" [control]="rootCanalFormGroup.get('treatmentAssistant1')"></app-form-input-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex align-items-center">
            <app-form-checkbox-field [labelText]="'PARQ'" [control]="rootCanalFormGroup.get('parq')"></app-form-checkbox-field>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <app-form-checkbox-field [labelText]="'Medical HX Reviewed'" [control]="rootCanalFormGroup.get('medicalHxReviewed')"></app-form-checkbox-field>
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <app-form-input-field appearance="appearance-1" [labelText]="'Pre-op BP'" [control]="rootCanalFormGroup.get('preOpBp')"></app-form-input-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 print-w-50 col-lg-12 extre_textarea">
        <app-form-textarea-field
          [labelText]="'Next'"
          [rows]="5"
          [control]="rootCanalFormGroup.get('next')">
        </app-form-textarea-field>
      </div>
    </div>
  </div>

  <div class="form-section-container">
    <div class="row">
      <div class="col-12">
        <app-form-checkbox-field
          [labelText]="'Topical Anesthetic'"
          [control]="rootCanalFormGroup.get('topicalAnesthetic')">
        </app-form-checkbox-field>
      </div>
    </div>

    <div class="row mt-4 mb-5">
      <div class="col-xl-4 print-w-50 col-lg-6 col-md-7">
        <app-form-input-field appearance="appearance-1" [labelText]="'1st Type of Anesthetic'" [control]="rootCanalFormGroup.get('firstAnesthetic')"></app-form-input-field>
      </div>
      <div class="col-xl-2 col-lg-6 print-w-50 col-md-5 d-flex align-items-center">
        <app-form-input-field appearance="appearance-1" [labelText]="'Carpules'" [control]="rootCanalFormGroup.get('firstAnestheticCarpules')"></app-form-input-field>
      </div>
      <div class="col-xl-2 col-lg-2 print-w-10 col-md-3 d-flex align-items-center">
        <app-form-checkbox-field
          [labelText]="'N2O'"
          [control]="rootCanalFormGroup.get('n2o')">
        </app-form-checkbox-field>
      </div>
      <div class="col-xl-2 col-lg-3 print-w-20 col-md-4 d-flex align-items-center">
        <app-form-input-field appearance="appearance-1" [noLabel]="true" [control]="rootCanalFormGroup.get('n2oPercent')"></app-form-input-field>
        <label>%</label>
      </div>
      <div class="col-xl-2 col-lg-3 print-w-25 col-md-4 d-flex align-items-center">
        <app-form-input-field appearance="appearance-1" [noLabel]="true" [control]="rootCanalFormGroup.get('n2oMin')"></app-form-input-field>
        <label>minutes</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-6 print-w-50 col-md-7">
        <app-form-input-field appearance="appearance-1" [labelText]="'2nd Type of Anesthetic'" [control]="rootCanalFormGroup.get('secondAnesthetic')"></app-form-input-field>
      </div>
      <div class="col-xl-2 col-lg-6 col-md-5 print-w-50 d-flex align-items-center">
        <app-form-input-field appearance="appearance-1" [labelText]="'Carpules'" [control]="rootCanalFormGroup.get('secondAnestheticCarpules')"></app-form-input-field>
      </div>
      <div class="col-xl-2 col-lg-2 print-w-20 col-md-3 d-flex align-items-center">
        <app-form-checkbox-field [labelText]="'O2 Flush 100%'" [control]="rootCanalFormGroup.get('o2Fluse')"></app-form-checkbox-field>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 d-xl-flex d-none align-items-center">
      </div>
      <div class="col-xl-2 col-lg-3 print-w-25 col-md-4 d-flex align-items-center">
        <app-form-input-field appearance="appearance-1" [noLabel]="true" [control]="rootCanalFormGroup.get('o2Min')"></app-form-input-field>
        <label>minutes</label>
      </div>
    </div>

    <div class="row mt-5 mb-2">
      <div class="col-12 col-xl-10 print-flex d-flex flex-column flex-md-row flex-xl-nowrap">
        <div>
          <label class="me-auto me-md-4 mb-3 mb-md-0">Type of Injections</label>
        </div>
        <div class="d-flex flex-wrap print-m-top flex-xl-nowrap">
        <app-form-checkbox-field class="mx-5 mx-md-2 mx-xl-3 " [labelText]="'PSA'" [control]="rootCanalFormGroup.get('psa')"></app-form-checkbox-field>
        <app-form-checkbox-field class="mx-5 mx-md-2 mx-xl-3 " [labelText]="'MSA'" [control]="rootCanalFormGroup.get('msa')"></app-form-checkbox-field>
        <app-form-checkbox-field class="mx-5 mx-md-2 mx-xl-3 " [labelText]="'ASA'" [control]="rootCanalFormGroup.get('asa')"></app-form-checkbox-field>
        <app-form-checkbox-field class="mx-5 mx-md-2 mx-xl-3 " [labelText]="'IA'" [control]="rootCanalFormGroup.get('ia')"></app-form-checkbox-field>
        <app-form-checkbox-field class="mx-5 mx-md-2 mx-xl-3 " [labelText]="'LB'" [control]="rootCanalFormGroup.get('lb')"></app-form-checkbox-field>
        <app-form-checkbox-field class="mx-5 mx-md-2 mx-xl-3 " [labelText]="'PAL'" [control]="rootCanalFormGroup.get('pal')"></app-form-checkbox-field>
        <app-form-checkbox-field class="mx-5 mx-md-2 mx-xl-3 " [labelText]="'Infiltrate'" [control]="rootCanalFormGroup.get('infiltrate')"></app-form-checkbox-field>
      </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 d-none-print print-show mt-5">
      <div class="row">
        <div class="col-4">
          <h6 class="fw-mediumi fs-5 d-none-print print-show">PATIENT REGISTRATION FORMS</h6>
        </div>
        <div class="col-4 text-center d-flex justify-content-center flex-column p-center-logo">
            <h6 class="fw-mediumi fs-5 d-inline-block d-none-print print-show"><i>powerd by</i></h6>
            <img class="centrax-size text-center d-none-print print-show" src="/assets/centrax-logo.svg" alt="CENTRAX" />
        </div>
        <div class="col-4 text-end d-none-print print-show">
          <h6 class="fw-mediumi fs-5">Continue on next page</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 print-top-m print-show d-none-print">
      <app-form-header-info
      [providerName]="'Dr. Jane Doe'"
      [practiceName]="'Astra Practice Partners'"
      [practicePhoneNumber]="'(555) 555-5555'"
      [practiceAddress]="'1234 SE 33rd ST Portland, OR 97202'"
      [patientName]="'Mickey Mouse'"
      [patientBirthdate]="'04/26/1936'"
      [entryDate]="'02/20/2020'">
    </app-form-header-info>
    </div>
  </div>
  <div class="form-section-container">

    <div class="row">
      <div class="col-12 col-xl-6 pe-3 border-end">
        <div class="row">
          <div class="col-3">
            <app-form-input-field appearance="appearance-1" [labelText]="'Tooth'" [control]="rootCanalFormGroup.get('tooth')"></app-form-input-field>
          </div>
          <div class="col-9">
            <div class="row mb-3" *ngFor="let rootItem of rootList.controls.slice(rootList.controls.length/2); let rootIndex = index">
              <div class="col-5">
                <app-form-input-field appearance="appearance-1" [labelText]="'Root'" [control]="rootList.controls[rootIndex].get('text')"></app-form-input-field>
              </div>
              <div class="col-7 d-flex align-items-center">
                <app-form-input-field appearance="appearance-1" [noLabel]="true" [control]="rootList.controls[rootIndex].get('text1')"></app-form-input-field>
                <label for="">@</label>
                <app-form-input-field appearance="appearance-1" [noLabel]="true" [control]="rootList.controls[rootIndex].get('text2')"></app-form-input-field>
                <label for="">mm</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 ps-3 ps-xl-5">
        <div class="row">
          <div class="col-3">
            <app-form-input-field appearance="appearance-1" [labelText]="'Tooth'" [control]="rootCanalFormGroup.get('tooth')"></app-form-input-field>
          </div>
          <div class="col-9">
            <div class="row mb-3" *ngFor="let rootItem of rootList.controls.slice(rootList.controls.length/2); let rootIndex = index">
              <div class="col-5">
                <app-form-input-field appearance="appearance-1" [labelText]="'Root'" [control]="rootList.controls[rootIndex].get('text')"></app-form-input-field>
              </div>
              <div class="col-7 d-flex align-items-center">
                <app-form-input-field appearance="appearance-1" [noLabel]="true" [control]="rootList.controls[rootIndex].get('text1')"></app-form-input-field>
                <label for="">@</label>
                <app-form-input-field appearance="appearance-1" [noLabel]="true" [control]="rootList.controls[rootIndex].get('text2')"></app-form-input-field>
                <label for="">mm</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3 mt-xl-5 mb-5">
      <div class="col-xl-4 print-w-50 col-sm-12 col-md-6">
        <app-form-input-field appearance="appearance-1" [labelText]="'Pulpal Diagnosis'" [control]="rootCanalFormGroup.get('pulpalDiagnosis')"></app-form-input-field>
      </div>
      <div class="col-xl-4 print-w-25 col-sm-12 col-md-6">
        <app-form-input-field appearance="appearance-1" [labelText]="'Irrigation'" [control]="rootCanalFormGroup.get('irrigation')"></app-form-input-field>
      </div>
      <div class="col-xl-4 print-w-25 col-sm-12 col-md-6">
        <app-form-input-field appearance="appearance-1" [labelText]="'Filling Material'" [control]="rootCanalFormGroup.get('fillingMaterial')"></app-form-input-field>
      </div>
    </div>

    <div class="row d-flex justify-content-end">
      <div class="col-xl-4 col-sm-12  print-w-50 col-md-6 d-none d-xl-block">
      </div>
      <div class="col-xl-4 col-sm-12 print-w-25 col-md-6">
        <app-form-input-field appearance="appearance-1" [labelText]="'Sealer'" [control]="rootCanalFormGroup.get('sealer')"></app-form-input-field>
      </div>
      <div class="col-xl-4 col-sm-12 print-w-50 col-md-6">
        <app-form-input-field appearance="appearance-1" [labelText]="'Temporary Material'" [control]="rootCanalFormGroup.get('temporaryMaterial')"></app-form-input-field>
      </div>
    </div>
  </div>

  <div class="form-section-container">
    <div class="row">
      <div class="col-xl-4 col-12 d-flex d-lg-block">
        <div class="mb-5">
          <app-form-input-field appearance="appearance-1" [labelText]="'Post-op BP'" [control]="rootCanalFormGroup.get('postOpBp')"></app-form-input-field>
        </div>
        <div>
          <app-form-input-field appearance="appearance-1" [labelText]="'Radiographs Taken'" [control]="rootCanalFormGroup.get('radiographsTaken')"></app-form-input-field>
        </div>
      </div>
      <div class="col-xl-6 col-12">
        <app-form-textarea-field
          [labelText]="'Treatment Notes'"
          [rows]="5"
          [control]="rootCanalFormGroup.get('treatmentNotes')">
        </app-form-textarea-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-none-print print-show mt-5">
        <div class="row my-5">
          <div class="col-4">
            <h6 class="fw-mediumi fs-5 d-none-print print-show">PATIENT REGISTRATION FORMS</h6>
          </div>
          <div class="col-4 text-center d-flex justify-content-center flex-column p-center-logo">
              <h6 class="fw-mediumi fs-5 d-inline-block d-none-print print-show"><i>powerd by</i></h6>
              <img class="centrax-size text-center d-none-print print-show" src="/assets/centrax-logo.svg" alt="CENTRAX" />
          </div>
          <div class="col-4 text-end d-none-print print-show">
            <h6 class="fw-mediumi fs-5">Continue on next page</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
