label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

input {
    width: 96px;
    height: 18px;
    border: 0.4px solid rgba(0, 174, 142, 0.5);
    border-radius: 1px;
    background: rgba(241, 240, 240, 1);
}

i {
    color: rgba(61, 85, 103, 1);
    cursor: pointer;
}

.body-wrapper {
    width: 500px;
}

.review-text {
    cursor: pointer;
    margin-left: 10px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: underline;
}

.btn-save {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    width: 81px;
    height: 35px;
    border-radius: 3px;
    color: rgba(87, 87, 87, 1);
    background-color: rgba(224, 224, 221, 1);
    border: none;
}

.content-wrapper {
    min-height: 458px !important;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.content-wrapper .btn-holder {
    justify-content: flex-end;
    display: flex;
    // margin-bottom: 25px;
    // margin-right: 35px;
}

label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(86, 86, 86, 1);
}

.text-diff {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(86, 86, 86, 1);
}