<div class="main-wrapper">
  <form
    novalidate
    [formGroup]="systemPreferencesRecallFormGroup"
    (ngSubmit)="onSave()"
  >
    <section class="container-fluid main-wrapper-section-1500">
      <div class="row">
        <div class="col-12 mt-5">
          <h1 class="page-heading mb-0 pb-0 fc-5f6d78">System Preferences</h1>
          <p class="p-0 m-0 page-heading-subtitle">Patient Recall Options</p>
        </div>
      </div>
      <div class="row my-5 practice-manager-section">
        <div class="col-12 mt-4 d-flex justify-content-center">
          <ul class="d-flex flex-column nav">
            <li>
              <div class="d-flex flex-row flex-nowrap mt-3 font-roboto">
                <label for="Default" class="form-label fc-565656 fs-1-4"
                  >Default recall interval every
                </label>
                <select
                  class="new-account-Schedule font-italic ms-3 fs-1-0 p-2 sc-select-box"
                  name="time"
                  id="Default"
                  [formControl]="form['defaultRecallMonthInterval']"
                >
                  <option value="6">6</option>
                  <option value="DMD">DMD</option>
                </select>
                <p class="mt-2 fc-565656 ms-2 fs-1-4 form-label">months</p>
              </div>
              <div class="d-flex flex-row flex-nowrap mt-3">
                <label
                  for="Default"
                  class="fc-565656 form-label fs-1-4 font-roboto"
                >
                  Recall Method</label
                >
                <select
                  class="new-account-Schedule font-italic ms-3 fs-1-4 w-125 font-roboto p-2 sc-select-box"
                  name="time"
                  id="Default"
                  [formControl]="form['recallMethod']"
                >
                  <option value="phone">phone</option>
                  <option value="DMD">DMD</option>
                </select>
              </div>
              <div class="custom_radio_new mt-3">
                <input
                  type="radio"
                  id="featured-1"
                  name="featured"
                  [checked]="form['autoCreateRecall'].value === true"
                  (change)="
                    form['autoCreateRecall'].setValue($event.target.checked)
                  "
                />
                <label
                  for="featured-1"
                  class="fc-565656 font-roboto fs-1-4 form-label"
                >
                  Auto-Create Recall
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- <section class="container-fluid">
      <div class="row footer-bg p-4 position-absolute bottom-0 w-100">
        <div class="col d-flex align-self-center">
          <span
            class="footer-save-btn"
            routerLink="/practice-manager/system-preference-ucr"
          >
            Save for later
          </span>
        </div>
        <div class="col d-flex justify-content-end align-item-center">
          <button
            routerLink="/practice-manager/system-preference-account"
            class="theme-btn py-2 mx-3"
          >
            Back
          </button>
          <button type="submit" class="theme-btn py-2">Next</button>
        </div>
      </div>
    </section> -->
    <section class="container-fluid">
      <div
        class="row footer-bg p-4 position-absolute bottom-0 w-100 footer-items"
      >
        <div class="col d-flex align-self-center practice-footer-responsive">
          <span
            class="footer-save-btn fw-normali fs-1-2"
            routerLink="/practice-manager/system-preference-ucr"
          >
            Save for later
          </span>
        </div>
        <div class="col d-flex justify-content-end align-item-center practice-footer-responsive">
          <button class="theme-btn fs-1-2 py-2 mx-3" routerLink="/practice-manager/system-preference-account">Back</button>
          <button
            class="theme-btn py-2 fs-1-2"
            type="submit"
          >
            Next
          </button>
        </div>
      </div>
    </section>
  </form>
</div>
