<div class="complete-profile-container">
  <h5 class="mb-4">{{results?.length}} search results</h5>
  <a class="text-primary text-underline fw-bold mb-5 cursor-pointer mb-5" [routerLink]="['/shared/onboarding']">UPDATE SEARCH</a>

  <div class="py-5">
    <p-dataView #dv [value]="results" [rows]="5" [paginator]="true">
      <ng-template let-profile pTemplate="listItem">
        <div class="d-flex align-items-center p-4">
          <div class="img-container" style="">
            <img *ngIf="profile.photoUrl" [src]="profile.photoUrl" alt="" srcset="" width="44" height="44">
            <div class="w-100">DD</div>
          </div>
          <div class="flex-grow-1 ps-4">
            <div class="fw-bold mb-1">{{ profile.firstName }} {{ profile.lastName }}</div>
            <div>{{ profile.specialty }}</div>
          </div>
          <div class="flex-grow-1 ps-4 d-flex">
            <i class="fa-solid fa-location-pin fs-5 mt-1"></i>
            <div class="ps-3">
              <div class="mb-1">{{ profile.street }}</div>
              <div>{{ profile.city }}, {{ profile.state }} {{ profile.zip }}</div>
            </div>
          </div>
          <div class="ps-4">
            <a class="text-primary fw-bold mb-5 cursor-pointer" (click)="onClaimProfile(profile.id)">Claim Profile</a>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  <div class="d-flex justify-content-center">
  <a class="text-primary text-underline fw-bold mb-5 cursor-pointer mb-5" routerLink="/shared/create-practice">Don’t see your profile?</a>
  </div>
</div>
