<div class="provider-login-container py-5 px-5" *ngIf="linkVerified">
  <h1 class="fs-3 mb-5">Enter New Password</h1>
  <form class="needs-validation" novalidate class="w-100 px-5" [formGroup]="forgotPasswordFormGroup" (ngSubmit)="onResetPassword()">
    <div class="row mt-5 mx-5">
      <div class="col-12">
        <label htmlFor="newPassword" class="w-100 fw-bold">New Password <span class="text-danger">*</span></label>
        <input type="password" class="w-100 {{formsubmit && form['newPassword'].errors ? 'ng-invalid ng-dirty' : 'is-valid'}}" pInputText id="newPassword" formControlName="newPassword" />
      </div>
    </div>
    <div class="row mt-5 mx-5">
      <div class="col-12">
        <label htmlFor="confirmPassword" class="w-100 fw-bold">Confirm New Password <span class="text-danger">*</span></label>
        <input type="password" class="w-100 {{formsubmit && form['confirmPassword'].errors ? 'ng-invalid ng-dirty' : 'is-valid'}}" pInputText id="confirmPassword" formControlName="confirmPassword" />
      </div>
    </div>
    <div class="row mt-5 mx-5">
      <div class="col-12 d-flex justify-content-center flex-column align-items-center">
        <button class="btn btn-lg btn-primary fs-5" style="width: 260px;" type="submit">Reset Password</button>
      </div>
    </div>
  </form>
</div>
