<div class="provider-login-container py-5 px-5">
  <h1 class="fs-3 mb-5">Forgot Password?</h1>
  <p>Enter the email address associated with your account. Next, confirm your identity with our security question/answer to
    receive a reset email password.
  </p>
  <form class="needs-validation" novalidate class="w-100 px-5" [formGroup]="forgotPasswordFormGroup" (ngSubmit)="onSendResetLink()">
    <div class="row mt-5 mx-5">
      <div class="col-12">
        <app-form-input-field
          appearance="appearance-2"
          placeholder="Email address"
          inputType="email"
          id="email"
          name="email"
          [isRequired]="true"
          [control]="forgotPasswordFormGroup?.get('email')"
          [isInValid]="formsubmit && form['email'].errors ? 'ng-invalid ng-dirty' : 'is-valid'">
        </app-form-input-field>
      </div>
    </div>
    <div class="row mt-5 mx-5">
      <div class="col-12">
        <label htmlFor="securityQuestion" class="w-100 fw-bold">Security Question <span class="text-danger">*</span></label>
        <p-dropdown styleClass="w-100 {{formsubmit && form['securityQuestion'].errors ? 'ng-invalid ng-dirty' : 'is-valid'}}" formControlName="securityQuestion" [options]="securityQuestions" optionLabel="label"></p-dropdown>
      </div>
    </div>
    <div class="row mt-5 mx-5">
      <div class="col-12">
        <app-form-input-field
          appearance="appearance-2"
          placeholder="Your Answer"
          id="securityQuestionAnswer"
          name="securityQuestionAnswer"
          [isRequired]="true"
          [control]="forgotPasswordFormGroup?.get('securityQuestionAnswer')"
          [isInValid]="formsubmit && form['securityQuestionAnswer'].errors ? 'ng-invalid ng-dirty' : 'is-valid'">
        </app-form-input-field>
      </div>
    </div>
    <div class="row mt-5 mx-5">
      <div class="col-12 d-flex justify-content-center flex-column align-items-center">
        <button class="btn btn-lg btn-primary fs-5" style="width: 260px;" type="submit">Send a reset link</button>
        <a class="btn btn-link fw-bold mt-2" [routerLink]="['/auth/login']">Go back</a>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <form-validation-message [formGroup]="forgotPasswordFormGroup"></form-validation-message>
    </div>
  </div>
</div>

