label {
  min-width: 100px;
}

.patient-search-container {
  border-radius: 12px;
  background: #FFF;
  box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

button {
  border-radius: 12px !important;
  background: #E0E0DD !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600;
}
