<div class="main-wrapper">
  <div class="container profile-parent">
    <div class="row">
      <div class="offset-md-1 offset-lg-2  ps-0 col-lg-8 col-md-10">
        <h3 class="search-profile mt-5">237 search results</h3>
        <p class="search-update my-5">update search</p>
      </div>
      <div class="row">
        <div class="offset-md-1 offset-lg-2 col-lg-8 col-md-10 profile-border">
          <div class="row py-4">
            <div class="col-md-2 col-6">
              <div class="profile-img">
                <img src="../" alt="img" />
              </div>
            </div>
            <div
              class="col-md-4  d-flex flex-column align-items-start justify-content-center"
            >
              <h3 class="user-name">David Dowsett</h3>
              <span class="user-role"> General Surgeon </span>
            </div>
            <div class="col-md-4 col-6  d-flex align-items-start">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <address class="profile-address ms-1">
                11765 NE Glisan St
                <br />
                Portland, OR 97220
              </address>
            </div>
            <div
              class="col-md-2 d-flex flex-column align-items-start justify-content-center"
            >
              <p class="claim-profile">Claim Profile</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row my-5">
        <div class="offset-md-1 offset-lg-2 col-lg-8 col-md-10">
          <div class="text-center">
            <div class="pagination d-inline-block mt-1">
              <a href="#">&laquo;</a>
              <a href="#">&laquo;</a>
              <a href="#">1</a>
              <a href="#" class="active">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">&laquo;</a>
              <a href="#">&raquo;</a>
            </div>
          </div>
          <p class="see-profile text-center my-5">
            Don’t see your profile?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
