
// footer

.footer-main{
  background: #FAFAFA;
  height: 160px;
  // position: fixed;
  // bottom: 0px;
  // width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1.8px solid #ACACAC;

  @media only screen and (max-width: 767px) {
    height: auto;
  }
  .footer-vertical-line{

    border-left: 3px solid #4DAA8F;

  @media only screen and (max-width: 767px) {
    border: 0px;

  }
  }
  .footer-credential{
    border: 1px solid #979797;

  }
  @media only screen and (max-width: 767px) {

  .left-mobile-line{
    border-left: 2px solid #4DAA8F;

  }
}
}
