.provider-login-container {
  width: 725px;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px auto;
  padding-bottom: 60px !important;
}

@media screen and (max-width: 576px) {
  .provider-login-container {
    width: 100% !important;
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
