<div class="provider-login-container py-5 px-5">
  <h1 class="fs-3 mb-5">A password reset link was sent</h1>
  <p class="border-top pt-5 fs-6">Instructions regarding resetting your password have been sent to your email address. If no email is received within ten minutes, check that the submitted address is correct. Please check your email and click the link to reset your password before signing in.</p>
</div>

<div class="mt-5 pt-5 d-flex justify-content-center">
  <button class="btn btn-lg btn-primary fs-5" style="width: 260px;" [routerLink]="['/auth/login']">Sign in</button>
</div>

